<h1>Confirmer votre compte</h1>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Confirmer" %>
  </div>
</.form>

<p>
  <%= link "Inscription", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Connexion", to: Routes.user_session_path(@conn, :new) %>
</p>
