<h1>renvoyer les instructions de confirmation</h1>

<.form let={f} for={:user} action={Routes.user_confirmation_path(@conn, :create)}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "renvoyer les instructions de confirmation" %>
  </div>
</.form>

<p>
  <%= link "Inscription", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Connexion", to: Routes.user_session_path(@conn, :new) %>
</p>
