<div class="container mt-4">
  <h5>Modifier une préstation</h5>
  <%= form_for @changeset, Routes.tarif_path(@conn, :update, @prestation), [method: :put], fn f -> %>
    <a data-bs-toggle="tooltip" data-bs-placement="top" title="les tarifs du circuit" href={Routes.live_path(@conn, MotoTourWeb.TarifLive, @prestation.idcircuit)}>Retour</a>
      <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, une erreur s'est produite!</p>
      </div>
    <% end %>

      <div class="form-group" style="display: flex; align-items: center;">
        <label style="width: 300px;">Préstation</label>
        <%= text_input f, :prestation %>
      </div>

    <div>
      <%= submit "Enregistrer", style: "flex: 1;margin-left:90%;margin-top: 10px;" %>
    </div>
  <% end %>
</div>