<ul>
<%= if @current_user do %>
  <li class="d-flex justify-content-center text-center align-items-center" style="height:50px;"><a style="height:50px;"><%= @current_user.email %></a></li>
  <!-- <li class="d-flex justify-content-center text-center align-items-center" style="height:50px;"><a href={Routes.page_path(@conn, :bcircuit)} style="color: blue;height:50px;">Tableau de bord</a></li> -->
  <li class="d-flex justify-content-center text-center align-items-center" style="height:50px;"><a href={Routes.page_path(@conn, :bcircuit)} style="color: blue;height:50px;">Paramètres</a></li>
  <li class="d-flex justify-content-center text-center align-items-center" style="height:50px;"><%= link "Déconnexion", to: Routes.user_session_path(@conn, :delete), method: :delete, style: "color: #212529;height:50px" %></li>
<% else %>
  <li class="d-flex justify-content-center text-center align-items-center mt-1" style="height:50px;"><a href="https://www.facebook.com/MotoTourMada" style="color:black;height:50px;" target="_blank"><i class="fa fa-facebook"></i><span class="visually-hidden">Facebook Moto Tour</span></a></li>
  <li class="d-flex justify-content-center text-center align-items-center mt-1" style="height:50px;"><a href="https://www.youtube.com/channel/UCCQ-zt-Z9ophAFiBcEC4q7Q" style="color:black;height:50px;" target="_blank"><i class="fa fa-youtube-play"></i><span class="visually-hidden">youtube Moto Tour</span></a></li>
  <li class="d-flex justify-content-center text-center align-items-center mt-1" style="height:50px;"><a href="https://www.instagram.com/mototourmadagascar/" style="color:black;height:50px;" target="_blank"><i class="fa fa-instagram"></i><span class="visually-hidden">Instagram Moto Tour</span></a></li>
  <li class="d-flex justify-content-center text-center align-items-center mt-1" style="height:50px;"><a href="https://twitter.com/moto_tour_mada" style="color:black;height:50px;" target="_blank"><i class="fa fa-twitter"></i><span class="visually-hidden">Twitter Moto Tour</span></a></li>
  <li class="d-flex justify-content-center text-center align-items-centerr mt-1" style="height:50px;"><a href={Routes.user_session_path(@conn, :new)} style="color:black;height:50px;">Connexion</a></li>
<% end %>
</ul>
