<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> --%>

    <title>Dashboard</title>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MyBs", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
</head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href={Routes.page_path(@conn, :index)}> moto tour site</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" style="border: 1px solid #e5e5e5;">
              <li class="nav-item">
                <a class="nav-link active" href={Routes.live_path(@conn, MotoTourWeb.BackLive)}>
                  dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={Routes.reservation_path(@conn, :index)}>
                  Réservation
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={Routes.page_path(@conn, :bcircuit)}>
                  Circuit enduro
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={Routes.itineraire_path(@conn, :index)}>
                  Itineraire
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={Routes.questions_path(@conn, :index)}>
                  Questions posés
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  Message
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href={Routes.photo_path(@conn, :index)}>
                  Photo
                </a>
              </li>
            </ul>

            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Page</span>
            </h6>
            <ul class="nav flex-column mb-2" style="border: 1px solid #e5e5e5;">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Acceuil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Circuit enduro
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  A propos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Contat
                </a>
              </li> 
            </ul>-->
          </div>
        </nav>
        <div class="col-md-10 mt-8">
          <%= @inner_content %>
        </div>
      </div>
    </div>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>