<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MyBs", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%!-- new assets --%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%!-- fin --%>
  </head>
  
  <body>
  
<nav class="navbar navbar-expand-lg fixed-top" style="height:5.5rem;">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src={Routes.static_path(@conn, "/assets/images/section/logo.png")} alt="Logo Moto Parcours" style="transform:scale(1,1.2)" width="150" height="50">
    </a>

    <!-- Navbar Toggler (for mobile view) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav bg-white" style="font-size: 1.1rem;">
        <li class="nav-item ms-2" >
          <a class="nav-link" href="#accueil">Accueil</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" href="#parcours">Circuits enduro sports</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" href="#contact">A propos</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>


    <%= @inner_content %>

  </body>
</html>
