
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MyBs", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

  </head>
  
  <body>
  
<nav class="navbar navbar-expand-lg fixed-top " style="height:2.5rem;">
  <div class="container-fluid bg-white">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src={Routes.static_path(@conn, "/assets/images/section/logo.png")} alt="Logo Moto Parcours" style="transform:scale(1,1)" width="150" height="50">
    </a>

    <!-- Navbar Toggler (for mobile view) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link mb-5" href={Routes.page_path(@conn, :index)} style="height:10px;"><i class="fa fa-home"></i> <strong>ACCUEIL</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-5" href={Routes.page_path(@conn, :propos)} style="height:10px;"><i class="fa fa-exclamation"></i> <strong>A PROPOS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-5" href={Routes.live_path(@conn, MotoTourWeb.CircuitLive)} style="height:10px;"><i class="fa fa-motorcycle"></i> <strong>CIRCUITS ENDURO SPORTS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-5" href={Routes.page_path(@conn, :contact)} style="height:10px;"><i class="fa fa-envelope"></i> <strong>CONTACT</strong></a>
        </li>
      </ul>
    </div>

      <%= render "_user_menu.html", assigns %>
        
  </div>
</nav>


    <%= @inner_content %>

<footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <!-- Section : Icon -->
        <div class="col-md-4" style="margin-bottom:2rem;transform:scale(1,1)">
          <a class="navbar-brand" href="/">
            <img class="img-fluid" src={Routes.static_path(@conn, "/assets/images/section/logo.png")} alt="Logo Moto Parcours" style="width:25rem">
          </a>
        </div>

        <!-- Section : a propos -->
        <div class="col-md-4">
          <h5>À propos</h5>
          <p>Notre équipe franco-malgache, composée de guides moto, mécaniciens spécialisés, vous fera partager leur passion pour ce pays.

            N’attendez pas ! Rejoignez-nous !</p>
        </div>

        <!-- Section : Contact -->
        <div class="col-md-4">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-map-marker-alt"></i> Ankadifotsy, Làlana Ratsima James
              Antananarivo – Madagascar
              Ouvert de 9H à 17H</li>
            <li><i class="fas fa-phone"></i> +261 [0]32 11 028 52 </li>
            <li><i class="fas fa-envelope"></i> madatraces@gmail.com </li>
          </ul>
        </div>
      </div>
      
      <!-- Section : Réseaux sociaux -->
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <a href="#" class="text-white me-4"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-4"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <!-- Section : Copyright -->
      <div class="row mt-2">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Moto tour Madagascar. Tous droits réservés. |
            <a href="#" class="text-white text-decoration-none">Accueil</a> |
            <a href="#" class="text-white text-decoration-none">Circuits enduro sport</a> | 
            <a href="#" class="text-white text-decoration-none">a propos</a> | 
            <a href="#" class="text-white text-decoration-none">contact</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
