<h1>Questions</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.questions_path(@conn, :update, @questions)) %>

<span><%= link "retour", to: Routes.questions_path(@conn, :index) %></span>
