<!-- <div class="container"> -->
  <h3>Liste des Questions</h3>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th style="width: 100px;">Telephone</th>
        <th style="width: 100px;">Nom</th>
        <th>Email</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= for questions <- @question do %>
        <tr>
          <td><%= Calendar.strftime(questions.inserted_at, "%d/%m/%Y à %Hh%M") %></td>
          <td><%= questions.telephone %></td>
          <td style="width: 100px;"><%= questions.nom %></td>
          <td><%= questions.email %></td>
          <!-- <td><%= questions.message %></td> -->
          <td><a href="" data-bs-toggle="modal" data-bs-target={"#exampleModal#{questions.id}"}>
            <i class="fa fa-eye"></i>
          </a></td>

          <!-- Modal -->
          <div class="modal fade" id={"exampleModal#{questions.id}"} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Contenu du message</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p><%= questions.message %></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>

          <td>
            <span><%= link "Supprimer", to: Routes.questions_path(@conn, :delete, questions), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span class="mt-3 d-flex">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href={if @current-1 > 0, do: Routes.questions_path(@conn, :index_page, @current-1), else: "#"} aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <%= for i <- 1..@count do %>
          <li class="page-item"><a class={"page-link #{if i-1 == @current, do: "active", else: ""}"}  data-bs-toggle="tooltip" data-bs-placement="top" href={Routes.questions_path(@conn, :index_page, i-1)}><%= i %></a></li>
        <%= end %>
        <li class="page-item">
          <a class="page-link" href={if @current+1 < @count, do: Routes.questions_path(@conn, :index_page, @current+1), else: "#"} aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </span>
<!-- </div> -->