<h1>Details</h1>

<ul>


  <li>
    <strong>Nom:</strong>
    <%= @questions.nom %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @questions.email %>
  </li>

  <li>
    <strong>Message:</strong>
    <%= @questions.message %>
  </li>

</ul>

<span><%= link "Modifier", to: Routes.questions_path(@conn, :edit, @questions) %></span> |
<span><%= link "Retour", to: Routes.questions_path(@conn, :index) %></span>
