
  <div class="card info-card sales-card">
    <main role="main" class="col-md-12">
        

      <div class="table-responsive col-12">
        <table class="table table-striped table-sm" style="border: 1px solid">
          <thead>
            <tr>
              <th style="text-align: center;">Nom du circuit</th>
              <th style="text-align: center;">Tarif</th>
              <th style="text-align: center;">Participants</th>
              <th style="text-align: center;">Motos disponibles</th>
              <th style="text-align: center;">Difficulté</th>
              <th style="text-align: center;">Description sur la carte</th>
              <th style="text-align: center;">Status</th>
              <th style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>

          <%= for c <- @circuit do %>
            <tr>
              <td style="width: 150px;text-align: center;"><a href="" data-bs-toggle="modal" data-bs-target={"#exampleModal#{c.id}"}><%= c.nom %></a></td>
              <td style="width: 100px;text-align: center;"><%= c.tarifs %> €</td>
              <td style="text-align: center;"><%= if c.participant == nil, do: "illimité", else: c.participant %></td>
              <td style="text-align: center;"><%= c.moto %></td>
              <td style="text-align: center;"><%= c.difficulté %></td>
              <td style="width: 450px;text-align: center;"><%= c.desc_card %></td>
              <td><%= if c.archiver == true, do: "archiver", else: "non archivé" %></td>
              <td>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier le circuit" href={Routes.circuits_path(@conn, :edit, c.id)}><i class="fa fa-pencil"></i></a> 
                <a style="padding: 20px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Archiver le circuit" data-confirm="Voulez-vous archiver ce circuit ?" href={Routes.circuits_path(@conn, :archiver, c.id)}>
                  <i class="fa fa-archive"></i>
                </a>
              </td>
            </tr>

              <!-- Modal -->
              <div class="modal fade" id={"exampleModal#{c.id}"} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" style="width:800px">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= c.nom %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h6>Remarque sur le circuit</h6>
                    <div class="modal-body">
                      "<%= c.remarque%>"
                    </div>
                    <h6>Prestations</h6>
                    <div class="modal-body">
                      <%= raw(c.details) %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
              
          <%= end %>
          </tbody>
        </table>
          <a class="d-flex justify-content-start" href={Routes.circuits_path(@conn, :ajoutc)}><button><i class="fa fa-plus"></i> Ajouter un Circuit</button></a>
      </div>
    </main>
  </div>