<!-- Dans lib/votre_app_web/templates/produit/index.html.heex -->
<h1>Liste des Produits</h1>

<ul>
  <%= for circuit <- @circuits do %>
    <li>
      <strong>Nom :</strong> <%= circuit.nom %> <br>
      <strong>Prix :</strong> <%= circuit.tarifs %> € <br>
      <strong>Quantité :</strong> <%= circuit.moto %>
    </li>
  <% end %>
</ul>
