/* Fond clair pour la navbar */
/* Fond clair pour la navbar */
.navbar {
  background-color: #ffffff; /* Couleur de fond de la navbar */
  display: flex;
  justify-content: space-between;
}

.nav-link:hover {
  transition: color 1s ease-in-out;
  background-color: #FFA500;
}

/* Couleur des liens par défaut */
.nav-item:hover {
  transition: color 1s ease-in-out;
  background-color: #FFA500; /* Couleur noire pour les liens */
}

/* Section à l'extrême droite */
.navbar-right {
  margin-left: auto; /* Pousse cette section à l'extrême droite */
  height: 100%; /* Assure que la section droite occupe 100% de la hauteur */
  padding: 10px; /* Rembourrage à l'intérieur de la section */
}

/* Style du texte à droite */
.navbar-right span {
  color: white; /* Couleur du texte à droite */
  font-weight: bold; /* Texte en gras si souhaité */
  padding: 0 15px; /* Ajoute un peu d'espace autour du texte */
}


.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #e7e7e7;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}



/* responsive pour l'iphone */
.hero-section {
  background-attachment: fixed; /* Maintient l'effet de parallaxe */
}

@media (max-width: 768px) {
  .hero-section {
    background-attachment: scroll; /* Évite des problèmes sur les petits écrans */
    background-position: center center; /* Réajuste la position de l'image */
    height: auto; /* Permet à la hauteur de s'adapter */
    padding: 20px;
  }

  .hero-section div {
    margin-top: 150px; /* Réduit l'espacement */
  }
}

@media (max-width: 576px) {
  .hero-section {
    background-size: contain; /* Montre l'image complète dans un espace réduit */
    padding: 10px;
  }

  .hero-section div {
    margin-top: 100px; /* Ajustement supplémentaire pour les très petits écrans */
  }
}


.hero-section {
  background-size: cover; /* Ajuste l'image pour couvrir tout le conteneur */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Occupe toute la hauteur de l'écran */
}

@media (max-width: 768px) { /* Tablettes et petits écrans */
  .hero-section {
    height: auto; /* Permet à la hauteur de s'ajuster au contenu */
    background-attachment: scroll; /* Désactive l'effet de parallaxe */
  }

  .hero-section div {
    margin-top: 150px; /* Réduit l'espacement sur mobile */
  }
}

@media (max-width: 576px) { /* iPhone et petits appareils */
  .hero-section {
    background-size: contain; /* Affiche l'image entière si elle est trop grande */
    padding: 20px; /* Ajoute un peu d'espace autour du contenu */
  }

  .hero-section div {
    margin-top: 100px; /* Réduit encore plus pour les très petits écrans */
    text-align: center; /* Centre le texte pour une meilleure lisibilité */
  }

  .hero-section h1 {
    font-size: 1.8rem; /* Diminue la taille du titre */
  }

  .hero-section p {
    font-size: 1rem; /* Diminue la taille du texte */
  }
}


