/* Fond clair pour la navbar */
/* Fond clair pour la navbar */
.navbar {
  background-color: #ffffff; /* Couleur de fond de la navbar */
  display: flex;
  justify-content: space-between;
}

.nav-link:hover {
  transition: color 1s ease-in-out;
  background-color: #FFA500;
}

/* Couleur des liens par défaut */
.nav-item:hover {
  transition: color 1s ease-in-out;
  background-color: #FFA500; /* Couleur noire pour les liens */
}

/* Section à l'extrême droite */
.navbar-right {
  margin-left: auto; /* Pousse cette section à l'extrême droite */
  height: 100%; /* Assure que la section droite occupe 100% de la hauteur */
  padding: 10px; /* Rembourrage à l'intérieur de la section */
}

/* Style du texte à droite */
.navbar-right span {
  color: white; /* Couleur du texte à droite */
  font-weight: bold; /* Texte en gras si souhaité */
  padding: 0 15px; /* Ajoute un peu d'espace autour du texte */
}


.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #e7e7e7;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}