/* Fond clair pour la navbar */
/* Fond clair pour la navbar */
.navbar {
  background-color: #ffffff; /* Couleur de fond de la navbar */
  display: flex;
  justify-content: space-between;
}

/* Couleur orange au survol des liens */
.navbar-nav .nav-item:hover {
  color: #ff971d; /* Couleur orange */
}

/* Couleur des liens par défaut */
.navbar-nav .nav-link:hover {
  color: #ff971d; /* Couleur noire pour les liens */
  transition: color 0.3s ease-in-out;
}

/* Ajustement du logo */
.navbar-brand img {
  max-height: 50px; /* Ajuste la taille du logo si nécessaire */
}

/* Section à l'extrême droite */
.navbar-right {
  margin-left: auto; /* Pousse cette section à l'extrême droite */
  height: 100%; /* Assure que la section droite occupe 100% de la hauteur */
  padding: 10px; /* Rembourrage à l'intérieur de la section */
}

/* Style du texte à droite */
.navbar-right span {
  color: white; /* Couleur du texte à droite */
  font-weight: bold; /* Texte en gras si souhaité */
  padding: 0 15px; /* Ajoute un peu d'espace autour du texte */
}