<h1>Mot de passe oublier?</h1>

<.form let={f} for={:user} action={Routes.user_reset_password_path(@conn, :create)}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "envoyer les instructions pour réinitialiser le mot de passe" %>
  </div>
</.form>

<p>
  <%= link "Inscription", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Connexion", to: Routes.user_session_path(@conn, :new) %>
</p>
